# Build
build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/Makefile
build/*.mod

# Data
data/*/*.nc
data/*/*/*.nc
data/*/*/*/*.nc

# Documentation
doc/html

# NCL figures
ncl/fig

# Executable
run/nicas

# Listings
run/nicas.out.*

# Old namelists
run/old

# Test
test

# Versions
versions

