# Build
build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/Makefile
build/*.mod

# Data
data/*/*.nc
data/*/*/*.nc
data/*/*/*/*.nc

# Documentation
doc/html

# NCL figures
ncl/fig

# Executable
run/hdiag_nicas

# Listings
run/hdiag_nicas.out.*

# Test
test/*.log

# Versions
versions

